<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto m-3">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrar Conta</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="Logo WebSite" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signup" method="POST">
                        <div class="form-group" style="margin-top: 5%;">
                            <input type="text" name="fullname" placeholder="Nome Completo" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuário" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Senha" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Registrar-se</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>