<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
        <a class="navbar-brand" href="/">&nbsp;<i class="fas fa-star-of-david"></i> Links Favoritos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a href="/profile" class="nav-link"><i class="fas fa-user"></i> Perfil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i> Ferramentas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/links">Todos Links</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/links/add">Adicionar Link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link"><i class="fas fa-user-circle"></i> Área de Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link"><i class="fas fa-user-plus"></i> Registar</a>
                    </li>
                {{/if}}
            </ul>
        </div>
   </div>
</nav>