<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
    <style>
        html {
            padding: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
       <div class="page-header text-center">
            <h1>meu Perfil</h1>
            <a href="/logout" class="btn btn-danger btn-sm">Sair</a>
       </div>
       <div class="row">
           <div class="col-sm-12">
               <div class="well">
                   <h3><span class="fa fa-user"></span>Bem vindo <%= user.name %></h3>

                   <p>
                       <strong>id</strong> <%= user.id %> <br>
                       <strong>username</strong> <%= user.usernamer %> <br>
                   </p>
               </div>
           </div>
       </div>
    </div>
</body>

</html>